body {
    background-color: black;
    color: white;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 20px;
}

#header {
    grid-column-start: 1;
    grid-column-end: 1;
    margin: repeat(4, 0px);
}

#navbar {
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: black;
    color: white;
}

#imgcaption {
   justify-items: center;
}

#img1 {
    width: 100%;
    height: auto;
    padding: 0px;
}

#date {
    background-color: white;
    color: black;
    border-color: gray;
}

#img2 {
    position: 20px; /*Didn't do anything*/
}

#paragraph {
    color: black;
    background-color: white;
    border-bottom-color: gray;
    border-style: solid;
}

#buttons {
    color: white;
    background-color: yellow;
    border-color: black;
}
